/* Write some CSS below */

/*Soft Reset do CSS*/
* {
margin:0;
padding: 0;
box-sizing: border-box;
}

body {
  background: #604BA8;
}

.contacts,
.site-subtitle,
.site-title {
  color: white;
}

.contacts-list {
  font-size: 45px;
}
